<nav id="navigation" class="clearfix">
    <a href="/" class="title">SLIME</a>
    <ul class="menu">
        <li><a href="/slime/documents/document.html">documents</a></li>
        <li><a href="/slime/documents/usage.html">usage</a></li>
        <li><a href="https://github.com/croe/slime/" target="_blank">download</a></li>
    </ul>
    <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
    </a>
</nav>
<header id="header">
    <div class="main">
        <h1 class="hdg-lv1">SLIME<span> 1.0</span></h1>
        <p class="txt-lead isSlime">Flexible framework <br class="hidden-sm">for Static webpage</p>
    </div>
    <canvas id="canvas" resize></canvas>
</header>
