<section class="share">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a href="http://www.facebook.com/sharer.php?u=http://croe.github.io/slime/&amp;t=柔軟な制作を実現するフレームワーク「SLIME」" onClick="window.open(encodeURI(decodeURI(this.href)),'sharewindow', 'width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!'); return false;" class="btn-circle is-facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="http://twitter.com/intent/tweet?text=柔軟な制作を実現するフレームワーク「SLIME」&amp;url=http://croe.github.io/slime&amp;via=croev" onClick="window.open(encodeURI(decodeURI(this.href)),'tweetwindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=1'); return false;" class="btn-circle is-twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="https://github.com/croe/slime/" class="btn-circle is-github" target="_blank"><i class="icon-github"></i></a></li>
            </ul>
        </div>
    </div>
</section>