<%- include(process.cwd()+'/src/resource/ejs_include/_head.ejs') %>
<body>
<%- include(process.cwd()+'/src/resource/ejs_include/_header.ejs') %>
	<h1>SLIME</h1>
	<p>Flexible framework for static webpage</p>
<%- include(process.cwd()+'/src/resource/ejs_include/_footer.ejs') %>
<!--  scripts include libraries  -->
<script src="/common/scripts/scripts.js"></script>
</body>
</html>